/* Contenedor principal de la hero sección */
.hero {
  position: relative;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url(/neuro/images/imagen\ portada.webp);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 80%;
  margin: 0 auto;
  padding-top: 150px; /* Ajusta la distancia superior si es necesario */
}
.hero-txt {
  display: flex;
  flex-direction: row; /* Alinea las secciones horizontalmente */
  align-items: flex-start; /* Alinea las secciones al top */
  gap: 3rem; /* Espacio entre las secciones */
  flex-wrap: wrap; /* Permite que las secciones se ajusten en pantallas pequeñas */
}
.hero-txt h1 {

  color: #56b1df;
  text-transform: uppercase;
  font-size: 80px; /* Tamaño de fuente para pantallas grandes */
  line-height: 1.2;
  margin: 0;
}
/* Contenedor principal que alinea las secciones horizontalmente */
.contenedor-horizontal {
  display: flex;
  justify-content: space-between; /* Espacio entre los elementos */
  gap: 2rem; /* Espacio entre las secciones */
}
.carrusel-container {
  display: flex;
  justify-content: left;
  overflow: hidden;
  width: 900px; /* Este ancho debe coincidir con el ancho de las imágenes */
  height: auto;
}

.carrusel {
  display: flex;
  transition: transform 1s ease;
}

.carrusel img {
  width: 900px; /* Asegúrate de que las imágenes tengan este tamaño */
  height: auto;
  border-radius: 10px;
}

.imagenes-hover {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.imagen-efecto {
  width: 550px; /* Aumenta el tamaño de las imágenes */
  height: auto;
  transition: transform 0.3s ease;
}

.imagen-efecto:hover {
  transform: scale(1.1);
}
