.content-left {
  display: flex; /* Usar flexbox para alinear los elementos dentro */
  flex-direction: column; /* Alinea los elementos en columna */
  align-items: flex-start; /* Alinea los elementos al inicio (izquierda) */
  justify-content: center; /* Centra los elementos verticalmente */
  height: 100%; /* Asegura que el contenedor llene la altura disponible */
}


.logo-left {
  width: 700px;
  height: auto;
  margin-bottom: 20px;
}

.btn-Inicio {
  padding: 10px 20px;
  background-color: #40e0d0;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 250px;
  margin-left: -270px; /* Ajusta el valor según lo que necesites */
  text-decoration: none; /* Elimina el subrayado */

}

.btn-Inicio:hover {
  background-color: #38c9b8;
}
.background-image {
  background-image: url('/neuro/images/imagen portada.webp'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta la imagen para que cubra todo el div */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 90vh; /* Ajusta la altura al tamaño de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {

  .btn-Inicio {
    padding: 10px 22px;
    font-size: 14px;
    width: auto;
    margin-left: 0%;
    margin-top: 350%;
    text-decoration: none; /* Elimina el subrayado */

  }
  .logo-left {
    width: 90%;       /* Ajusta el ancho del logo */
    max-width: 50px;  
    margin-top: -120px; /* Sube el logo hacia arriba */
}

}


.background-image {
  background-image: url('/neuro/images/imagen portada.webp'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta la imagen para que cubra todo el div */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 90vh; /* Ajusta la altura al tamaño de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
}

 /*CONTENEDOR VALORES*/
 .valores-container {
  display: flex;
  flex-wrap: wrap; /* Permite que las imágenes se reorganicen en varias filas */
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.valor-img {
  width: 40%; /* Ocupa aproximadamente el 50% del ancho, dejando espacio entre ellas */
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s;
}

.valor-img:hover {
  transform: scale(1.1);
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .valor-img {
    width: 100%; /* Ocupa el 100% del ancho en pantallas pequeñas */
    margin-bottom: 20px; /* Espacio inferior entre imágenes */
  }
}

  
/* CONTENEDOR PRINCIPAL */

.contenedor-principal {
  display: flex; /* Usa flexbox para alinear los contenedores uno al lado del otro */
  justify-content: space-between; /* Espacio entre los contenedores */
  padding: 20px; /* Espacio alrededor del contenedor principal */
}

/* DIVS DE INFORMACION LATERAL */
/* CONTENEDOR PRINCIPAL */

.contenedor-principal {
  display: flex; /* Usa flexbox para alinear los contenedores uno al lado del otro */
  justify-content: space-between; /* Espacio entre los contenedores */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
}

/* DIVS DE INFORMACION LATERAL */

/* CONTENEDOR PRINCIPAL */

.contenedor-principal {
  display: flex; /* Usa flexbox para alinear los contenedores uno al lado del otro */
  justify-content: space-between; /* Espacio entre los contenedores */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
}

/* CONTENEDOR PRINCIPAL */

.contenedor-principal {
  display: flex; /* Usa flexbox para alinear los contenedores uno al lado del otro */
  justify-content: space-between; /* Espacio entre los contenedores */
  height: auto; /* Cambiar a auto para que se ajuste al contenido */
}

/* CONTENEDOR PRINCIPAL */

.contenedor-principal {
  display: flex; /* Usa flexbox para alinear los contenedores uno al lado del otro */
  justify-content: space-between; /* Espacio entre los contenedores */
  height: auto; /* Cambiar a auto para que se ajuste al contenido */
}

/* DIVS DE INFORMACION LATERAL */

.objetivos-container {
  display: flex; /* Usar flexbox para alinear horizontalmente */
  align-items: center; /* Centra verticalmente los elementos en el contenedor */
  justify-content: flex-start; /* Alinea el contenido a la izquierda */
  padding: 20px; /* Espacio alrededor del contenedor */
  background-color: #CDE4CA; /* Color de fondo para el contenedor de objetivos */
  width: 50%; /* Ocupa el 50% del ancho de la pantalla */
  max-height: 600px; /* Altura máxima del contenedor de objetivos */
  overflow-y: auto; /* Permite el desplazamiento vertical si el contenido excede la altura máxima */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para un efecto de profundidad */
  transition: transform 0.3s; /* Animación de transición para el efecto hover */
  margin: 0; /* Eliminar márgenes para evitar espacio extra */
  border-radius: 10px;
}

.objetivos-container:hover {
  transform: scale(1.02); /* Efecto de aumento al pasar el mouse */
}

.objetivos-img {
  width: 300px; /* Ajusta según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-left: 30px; /* Espacio entre la imagen y el texto */
}

.objetivos-texto {
  padding-left: 15%;
  text-align: left; /* Alinea el texto a la izquierda */
}

.profesionales-container {
  display: flex; /* Usar flexbox para alinear horizontalmente */
  align-items: center; /* Centra verticalmente los elementos en el contenedor */
  justify-content: flex-start; /* Alinea el contenido a la izquierda */
  padding: 20px; /* Espacio alrededor del contenedor */
  background-color: #96D0EE; /* Color de fondo para el contenedor de profesionales */
  width: 50%; /* Ocupa el 50% del ancho de la pantalla */
  max-height: 600px; /* Altura máxima del contenedor de profesionales */
  overflow-y: auto; /* Permite el desplazamiento vertical si el contenido excede la altura máxima */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para un efecto de profundidad */
  transition: transform 0.3s; /* Animación de transición para el efecto hover */
  margin: 0; /* Eliminar márgenes para evitar espacio extra */
  border-radius: 10px;
}

.profesionales-container:hover {
  transform: scale(1.02); /* Efecto de aumento al pasar el mouse */
}

.profesionales-texto {
  padding-left: 15%;
  text-align: left; /* Alinea el texto a la izquierda */
}

.profesionales-img {
  width: 450px; /* Ajusta según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */

}
.objetivos-container,
.profesionales-container {
  display: flex; /* Asegura que funcione flex-direction en la media query */
  align-items: center;
  margin: 20px 0; /* Espacio adicional entre los contenedores */
}

.objetivos-img,
.profesionales-img {
  margin-right: 20px; /* Margen entre imagen y texto en pantallas grandes */
}
@media (max-width: 768px) {
  .contenedor-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .objetivos-container,
  .profesionales-container {
    width: 100%; /* Ocupa el 100% del ancho en pantallas pequeñas */
    flex-direction: column; /* Coloca el contenido en columna */
    align-items: flex-start; /* Alinea al inicio */
    margin: 10px 0; /* Espacio entre contenedores */
  }

  .objetivos-img,
  .profesionales-img {
    margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
    margin-bottom: 20px; /* Espacio debajo de la imagen */
    width: 150px; /* Cambia el valor a tu preferencia */
    height: auto;
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin-left: auto; /* Centra la imagen a la izquierda */
    margin-right: auto; /* Centra la imagen a la derecha */
  }

  .objetivos-texto,
  .profesionales-texto {
    padding-left: 0; /* Elimina el padding lateral */
  }
}

/*CONENEDOR CARUSEL*/
.frase-content_sec1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto; /* Solo si quieres centrarlo en la pantalla completa */
}

.frase-content_sec1 h2 {
  color: #274193; /* Cambia a cualquier color que desees */
}

.frase-content_sec1 .txt-p_sec1 {
  color: #00ABAA; /* Cambia a cualquier color que desees */
}
.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .card {
    min-width: calc(33.333% - 20px); /* Muestra 3 cartas */
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    max-width: 80%;
    height: auto;
    margin-bottom: 15px;
  }
  
  .card h3 {
    padding: 10px;
    font-size: 18px;
    color: #02B1F4;
  }
  
  .ver-mas-container {
    text-align: center;
    margin: 30px 0;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding: 0px;
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .card {
      min-width: calc(50% - 20px); /* Muestra 2 cartas */
    }
  }
  
  @media (max-width: 480px) {
    .card {
      min-width: 100%; /* Muestra 1 carta */
    }
  }
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
/* Botón para carrusel */
.btn-estud {
  background-color: #00ABAA; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 10px 20px; /* Añade espacio interno para agrandar el botón horizontal y verticalmente */
  text-decoration: none; /* Elimina el subrayado del texto */
  border-radius: 8px; /* Borde redondeado para el botón */
  font-size: 16px; /* Tamaño de fuente del texto del botón */
  font-weight: bold; /* Hace el texto en negrita */
  transition: background-color 0.3s ease; /* Añade una transición suave al color de fondo cuando se haga hover */
}

/* Cambia el color de fondo del botón cuando el cursor está encima */
.btn-estud:hover {
  background-color: #96D0EE; /* Color de fondo al pasar el cursor */
}
